<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.Tosche.ShowKernBubbles</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowKernBubbles</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/Tosche/BubbleKern/master/ShowKernBubbles.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/Tosche/BubbleKern</string>
	<key>productReleaseNotes</key>
	<string>2.0: Complete rewrite.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Toshi Omagari, 2021</string>
	<key>NSPrincipalClass</key>
	<string>ShowKernBubbles</string>
</dict>
</plist>
